
body{
  padding-top: 80px;
}

.header {
    background-color: #f8f9fa; 
    box-shadow: 0 2px 4px rgba(0,0,0,.1);  
  }
  
  .header .navbar-brand .highlight-logo {
    color: #007bff; 
    text-decoration: none; 
    font-weight: bold;
  }
  
  .nav-link {
    color: #007bff !important; 
    margin-right: 1rem; 
  }
  
  .navbar-toggler {
    border-color: #007bff; 
  }
  
  /* styles dropdown menu's utseende */
  .dropdown-menu {
    border-radius: 0; 
    border-color: #007bff; 
  }
  
  
  .nav-link:hover, .navbar-brand:hover, .highlight-logo:hover {
    color: #0056b3 !important; 
  }
  /* cart image */
  .cart-img{
    width: 200px;
    height: 200px;
  }